.contact-info {
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.contact-info p {
    margin: 0px;
    color: #555;
}

.email {
    color: #23496f;
    cursor: pointer;
    text-decoration: underline;
}

.email:hover {
    text-decoration: none;
}

.clear-link {
    background-color: transparent;
    border: none;
    color: #555;
    font-size: 12pt;
    padding: 0;
    cursor: pointer;
}

.clear-link:hover {
    text-decoration: none;
}
