.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px auto;
    width: 100%;
    max-width: 80%;
}

.search-container > * {
    flex: 1;
}

.final-query-view {
    align-items: center;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    background-color: #deefd2;
    align-items: center;
    font-weight: 500;
    font-size: 16pt;
}

.final-query-view .content-wrapper .final-query {
    padding: 10px;
    margin: 0px;
    justify-content: center;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }

    .clauses-container .clause {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}


.search-row {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 300px;
    flex-grow: 1;
}

.idref-row {

}

.class-id-row {

}

.search-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
}

.idref-input {
    width: 100%;
}

.class-id-input {
    width: 100%;
}

.search-button {
display: flex;
flex-basis: 100%;
max-width: 100px;
align-items: center;
justify-content: center;
background-color: #4CAF50;
color: white;
font-size: 10pt;
font-weight: bold;
border: none;
border-radius: 2px;
padding: 5px 10px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
margin-left: 10px;
}

.search-button:hover {
background-color: #3e8e41;
}

.search-button i {
margin-right: 5px;
}

.filters-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-label {
    margin-right: 10px;
    margin-bottom: 5px;
}

.clauses-container .clause .clause {
    margin-right: 3px;
    transition: all 0.5s ease;
}

.role-filter-container, .clauses-container, .clauses-container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.role-filter-container p, .clauses-container p {
margin-bottom: 5px;
}

.role-filter-container select {
margin-bottom: 10px;
}

.role-filter-container button, .clauses-container-button button {
background-color: #4CAF50;
color: white;
font-size: 12px;
font-weight: bold;
border: none;
border-radius: 2px;
padding: 5px 10px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
margin-top: 10px;
}

/* .clauses-container-button {
    display: flex;
    justify-content: center;
} */


.role-filter-container button:hover, .clauses-container-button button:hover  {
background-color: #3e8e41;
}

.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap; /* Allow wrapping of items */
}

.pagination li {
    margin: 10px 2px; /* Adjusted margin to provide vertical space */
}

.pagination .page-link,
.pagination .previous-link,
.pagination .next-link {
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #333;
    margin-bottom: 10px; /* Extra space below each item to prevent overlap when wrapped */
}

.pagination .active .page-link {
    background-color: #333;
    color: #fff;
}

.pagination .page-link:hover,
.pagination .previous-link:hover,
.pagination .next-link:hover {
    background-color: #333;
    color: #fff;
}

.input-label {
    margin-right: 0px;
    margin-left: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black;
}

.roles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    transition: all 0.5s ease;
}

.roles-container .role {
    transition: all 0.5s ease;
}

.roles-container button {
    text-decoration: none;
}

.cnf-container { 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.role-tag {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.role-tag button, .cnf-clause button {
    /* background-color: #ff0000; */
    background-color: transparent;
    color: #ff0000;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

.role-tag button:hover, .cnf-clause button:hover{
    background-color: transparent;
}

.clauses-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    /* background-color: #f5f5f5;  */
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #c4c4c4; 
    transition: all 0.3s ease-in-out;
}

.clauses-container .clause {
    display: flex;
    flex-direction: column;
    /* margin-right: 10px; */
    transition: all 0.5s ease;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.stats-link {
    color: #676767;
}

.stats-link:hover {
    text-decoration: none;
}

.clear-button, .stats-link {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}

.clear-button:hover {
    text-decoration: none;
}

.instructions p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
    color: #0000009c;
}

.instructions.example {
    background-color: #eaeaea9a;
    padding: 5px;
}

.search-container, .roles-container, .cnf-container {
    gap: 5px;
}

.roles-dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.langCounts {
    list-style-type: none;
    padding-left: 20px;
    font-size: 0.8rem;
}

.langCounts li {
    margin: 5px 0;
    /* border-bottom: 1px solid #ccc; */
    line-height: 1.2;
}

.resultsText {
    margin-bottom: 0;
}

.db-selection-container {
    text-align: center;
    margin: 0px 0;
}

.db-selection-label {
    margin: 0 10px;
    color: #676767;
}

.role-select {
    width: 150px;
}

.query-constructor{
    margin-top: 0;
    font-size: 8pt;
    color: #676767;
}

.query-constructor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clear-roles-query {
    margin-top: 0;
    margin-bottom: 5px;
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
    font-size: 8pt;
    color: #676767;
}

.clear-roles-query:hover {
    text-decoration: none;
    color: #555;
}

.diacritics-container {
    display: flex;
    justify-content: center;
}

.stats {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-decoration: none;
}
